<?xml version="1.0" encoding="UTF-8" ?>
  
    <description>
    cronologia de la electricidad
    </description>

   
 <preference name="phonegap-version" value="cli-6.4.0" />
	
  
  <author href="https://build.phonegap.com" email="support@phonegap.com">
      T.P. Matinez Blas Emmanuel   </author>
	

